@font-face {
    font-family: 'Eugusto';
    src: url(Fonts/Eugusto.otf);
}

header {
    font-family: 'Eugusto';
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    margin: 0;
    background: white;
}

main {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background: white;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    font-family: 'Eugusto', sans-serif;
    font-size: 32px;
}

p {
    font-family: 'Eugusto', sans-serif;
    font-size: 16px;
    text-indent: 10%;
}
