@font-face {
    font-family: 'Eugusto';
    src: url(Fonts/Eugusto.otf);
    color: #121216;
}

body {
    background: white;
}

header {
    font-family: 'Eugusto';
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    margin: 0;
    background: white;
}

main {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background: white;
    text-align: center;
}

h1 {
    font-family: 'Eugusto', sans-serif;
    font-size: 32px;
}

p {
    font-family: 'Eugusto', sans-serif;
    font-size: 16px;
    text-indent: 10%;
    max-width: 50%;
}

a {
    color: #23242c;
}

.custom {
    width: 40px;
    height: 40px;
}

.gif {
    width: auto * 60%;
    height: auto *60%;
}
