@font-face {
    font-family: 'Eugusto';
    src: url(Fonts/Eugusto.otf);
}

body {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background: white;
    text-align: center;
}

h1 {
    font-family: 'Eugusto', sans-serif;
    font-size: large;
}

p {
    font-family: 'Eugusto', sans-serif;
    font-size: small;
}